body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}


header{
    margin: 0px 0px 0px 0px;
    background: black;
    color: white;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}
header img{
    height: 40px;
    cursor: pointer;
}
.menu:hover{
    border: 2px solid white;
    border-radius: 10px;
}
.btn{
    background: white;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    padding: 7px 15px;
    font-size: large;
    font-weight: bold;
    
}
.btn:hover{
    background: black;
    border: 2px solid white;
    color: white;
}
.name{
    color: white;
  font-family: "Allura", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: xx-large;
  text-decoration: underline black;
  cursor: pointer;
}
.about{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    
    text-align: center;
    
    
}
.aboutme{
    padding: 10px 10px;
}
.about img{
    height: 300px;
    max-width: 60%;
    padding: 10px 10px;
    border: 3px solid black;
    border-radius: 60px;
    align-self: center;
    
}

.hero2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(images/Space\ Travel\ Loop\ GIF\ by\ xponentialdesign.gif);
    background-size: cover;
    height: 300px;
    color: white;
}
.instagram img{
    height: 50px;
    background: black;
    border-radius: 10px;
    margin-right: 20px;
}

    
.social{
    margin-top: 20px;
    display: flex;
    
    justify-content:center;
    align-items: center;
}
.github img{
    background: white;
    height: 50px;
   border-radius: 10px;
    
}
.e{
    text-align: center;
    margin-top: 20px;
}
.word img{
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 20px;
}
.m{
    color: white;
}
.instagram:hover{
    border: 10px white;
}
.github:hover{
   height: 50px;
}
.volunteer{
    background: black;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px; /* Added padding so text doesn't hit the screen edges */
    text-align: center;
   height:auto;
   
}
.volunteer img{
    
    width: 100%;
    max-width: 500px;
    border: 3px solid black;
    border-radius: 20px;
    height: auto;
    margin-bottom: 30px;
    
}
.edu{
    background: white;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 10px; /* Added padding so text doesn't hit the screen edges */
    text-align: center;
     height: auto;
     margin-bottom: 0px;
}
.edu img{
    height: auto;
    width: 100%;
    max-width: 500px;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
    
}
.mail{
    margin-right: 10px;
    margin-left: 10px;
}
.footer{
    margin: 0;
    padding: 15px;
    display: block;
    text-align: center;
    background: black;
    color: white;
}
.about2{
    background: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
;
    
}





